@import './base.css'

#app
  margin: 0 auto
  padding: 2rem
  font-weight: normal

.header
  position: fixed
  top: 0
  height: 50px
.header-dummy
  height: 50px



fnButtonColorScheme(bg, fg, r = 6%)
  background: bg
  border: none
  color: fg
  &:hover
    background: lighten(bg, r)
  &:active
    background: darken(bg, r * 2)
    color: darken(fg, r * 6)



CommonFG = hsl(0, 0%, 80%)
LightFG = hsl(0, 0%, 92%)
EditorBG = hsl(10, 38%, 18%)
EditorBG2 = hsl(90, 38%, 16%)
EditorTagBG = hsl(42, 76%, 18%)
EditorShadow = hsl(60, 50%, 30%)
InputBG = hsl(0, 0%, 24%)
PlaceHolderFG = hsl(0, 0%, 50%)
CancelButtonBG = hsl(340, 90%, 28%)
CreateButtonBG = hsl(80, 90%, 20%)
EditApplyButtonBG = hsl(60, 90%, 18%)
CommonButtonBG = hsl(225, 8%, 22%)
EditAddTagButtonBG = hsl(210, 58%, 16%)

DarkLine = hsl(0, 0%, 10%)

hr
  color: DarkLine
button
  fnButtonColorScheme(CommonButtonBG, CommonFG)
  padding: 2px 6px
  margin: 2px
.tool-new-card
  background: EditorBG
.tool-edit-card
  background: EditorBG2
.tool-new-card, .tool-edit-card
  width: 100%
  display: flex
  flex-direction: column
  padding: 8px
  box-shadow: 2px 2px EditorShadow, -2px 2px EditorShadow
  .cancel
    fnButtonColorScheme(CancelButtonBG, CommonFG, 8%)
    margin-bottom: 1em
    padding: 2px 16px
    font-weight: bold
  button.create
    fnButtonColorScheme(CreateButtonBG, CommonFG)
  button.apply
    fnButtonColorScheme(EditApplyButtonBG, CommonFG)
  button.create, button.apply
    padding: 2px 20px
    font-weight: bold
  button.add-tag
    fnButtonColorScheme(EditAddTagButtonBG, CommonFG)
  .empty-tags
    background: darken(EditorTagBG, 20%)
    color: PlaceHolderFG
    padding: 0 2px 0 2px
    display: inline
    font-style: italic
  .tag
    fnButtonColorScheme(EditorTagBG, LightFG)
    margin: 0 2px
    border-top-right-radius: 8% 50%
    border-bottom-right-radius: 8% 50%
    padding: 2px 8px 2px 4px
    &::before
      content: url(../assets/trashcan_14x17.png)
      transform: translate(-1px,0)
      // Pseudo element is inline on default.
      display: inline-block
      vertical-align: middle
      width: 17px
      height: 17px

@media (hover: hover)
 .tool-new-card, .tool-edit-card
   .tag
     &::before
       content: url(../assets/tag_17x14.png)
       transform: translate(-1px,1px)
     &:hover::before, &:active::before
       content: url(../assets/trashcan_14x17.png)
       transform: translate(-1px,0)



input
  background: InputBG
  color: CommonFG
  border-style: none none solid none
  border-width: 2px
  padding: 3px 0 1px 4px
  border-color: darken(InputBG, 30%)


CardTagBG = #323223
StartEditButtonBG = #333333
StartEditButtonFG = #aaaaaa

.card
  width: 220px
  min-height: 340px
  background: #232318
  border-radius: 4px
  display: flex
  flex-direction: column
  padding: 16px
  .image-container, a.thumbnail, img
    min-width: 160px
    max-width: 160px
    min-height: 120px
    max-height: 120px
    margin: 0 auto 2px
    border: solid 1px #333333
    a
      display: block
    img
      object-fit: scale-down
      object-position: 50% 50%
      &.light
        background: #bbb
  .card-name
    width: 220px
    text-align: left
  .tags
    width: 220px - 32px
    display: flex
    flex-direction: row
    flex-wrap: wrap
    .tag
      fnButtonColorScheme(CardTagBG, darken(LightFG,8%))
      padding: 2px 4px
      margin: 1px 4px
      font-size: 88%
  .start-edit-card
    fnButtonColorScheme(StartEditButtonBG, StartEditButtonFG)
    img
      max-width: 17px
      min-width: 17px
      max-height: 17px
      min-height: 17px
      vertical-align: middle
  .comment
    font-size: 85%


a
  text-decoration: none
  color: hsla(160, 100%, 37%, 1)
  transition: 0.2s ease-in

  
  

@media (hover: hover)
  a:hover
    background-color: hsla(160, 100%, 37%, 0.2)



@media (min-width: 1024px)
  #app
    max-width: 960px
    padding: 0 2rem
  .line
    width: 440px
  label
    margin: 0 10px
    width: 75px
    display: inline-block
    text-align: end
    &::after
      content: ':'
  input
    width: 300px
  input.add-tag
    width: 240px
    margin-left: 75px + 20px

@media (min-width: 1700px)
  #app
    max-width: 1680px
  .line
    width: 780px
    margin: 2px
  input
    width: 500px
  .search
    width: 500px


