@import './base.css';
#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
.header {
  position: fixed;
  top: 0;
  height: 50px;
}
.header-dummy {
  height: 50px;
}
hr {
  color: #1a1a1a;
}
button {
  background: #34363d;
  border: none;
  color: #ccc;
  padding: 2px 6px;
  margin: 2px;
}
button:hover {
  background: #3f4149;
}
button:active {
  background: #2d2f35;
  color: #838383;
}
.tool-new-card {
  background: #3f221c;
}
.tool-edit-card {
  background: #293819;
}
.tool-new-card,
.tool-edit-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 8px;
  box-shadow: 2px 2px #737326, -2px 2px #737326;
}
.tool-new-card .cancel,
.tool-edit-card .cancel {
  background: #880732;
  border: none;
  color: #ccc;
  margin-bottom: 1em;
  padding: 2px 16px;
  font-weight: bold;
}
.tool-new-card .cancel:hover,
.tool-edit-card .cancel:hover {
  background: #a4093c;
}
.tool-new-card .cancel:active,
.tool-edit-card .cancel:active {
  background: #72062a;
  color: #6a6a6a;
}
.tool-new-card button.create,
.tool-edit-card button.create {
  background: #426105;
  border: none;
  color: #ccc;
}
.tool-new-card button.create:hover,
.tool-edit-card button.create:hover {
  background: #527806;
}
.tool-new-card button.create:active,
.tool-edit-card button.create:active {
  background: #3a5504;
  color: #838383;
}
.tool-new-card button.apply,
.tool-edit-card button.apply {
  background: #575705;
  border: none;
  color: #ccc;
}
.tool-new-card button.apply:hover,
.tool-edit-card button.apply:hover {
  background: #6f6f06;
}
.tool-new-card button.apply:active,
.tool-edit-card button.apply:active {
  background: #4d4d04;
  color: #838383;
}
.tool-new-card button.create,
.tool-edit-card button.create,
.tool-new-card button.apply,
.tool-edit-card button.apply {
  padding: 2px 20px;
  font-weight: bold;
}
.tool-new-card button.add-tag,
.tool-edit-card button.add-tag {
  background: #112940;
  border: none;
  color: #ccc;
}
.tool-new-card button.add-tag:hover,
.tool-edit-card button.add-tag:hover {
  background: #173655;
}
.tool-new-card button.add-tag:active,
.tool-edit-card button.add-tag:active {
  background: #0f2439;
  color: #838383;
}
.tool-new-card .empty-tags,
.tool-edit-card .empty-tags {
  background: #413009;
  color: #808080;
  padding: 0 2px 0 2px;
  display: inline;
  font-style: italic;
}
.tool-new-card .tag,
.tool-edit-card .tag {
  background: #513c0b;
  border: none;
  color: #ebebeb;
  margin: 0 2px;
  border-top-right-radius: 8% 50%;
  border-bottom-right-radius: 8% 50%;
  padding: 2px 8px 2px 4px;
}
.tool-new-card .tag:hover,
.tool-edit-card .tag:hover {
  background: #674c0e;
}
.tool-new-card .tag:active,
.tool-edit-card .tag:active {
  background: #47350a;
  color: #969696;
}
.tool-new-card .tag::before,
.tool-edit-card .tag::before {
  content: url("../assets/trashcan_14x17.png");
  transform: translate(-1px, 0);
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 17px;
}
@media (hover: hover) {
  .tool-new-card .tag::before,
  .tool-edit-card .tag::before {
    content: url("../assets/tag_17x14.png");
    transform: translate(-1px, 1px);
  }
  .tool-new-card .tag:hover::before,
  .tool-edit-card .tag:hover::before,
  .tool-new-card .tag:active::before,
  .tool-edit-card .tag:active::before {
    content: url("../assets/trashcan_14x17.png");
    transform: translate(-1px, 0);
  }
}
input {
  background: #3d3d3d;
  color: #ccc;
  border-style: none none solid none;
  border-width: 2px;
  padding: 3px 0 1px 4px;
  border-color: #2b2b2b;
}
.card {
  width: 220px;
  min-height: 340px;
  background: #232318;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.card .image-container,
.card a.thumbnail,
.card img {
  min-width: 160px;
  max-width: 160px;
  min-height: 120px;
  max-height: 120px;
  margin: 0 auto 2px;
  border: solid 1px #333;
}
.card .image-container a,
.card a.thumbnail a,
.card img a {
  display: block;
}
.card .image-container img,
.card a.thumbnail img,
.card img img {
  object-fit: scale-down;
  object-position: 50% 50%;
}
.card .image-container img.light,
.card a.thumbnail img.light,
.card img img.light {
  background: #bbb;
}
.card .card-name {
  width: 220px;
  text-align: left;
}
.card .tags {
  width: 188px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card .tags .tag {
  background: #323223;
  border: none;
  color: #d8d8d8;
  padding: 2px 4px;
  margin: 1px 4px;
  font-size: 88%;
}
.card .tags .tag:hover {
  background: #41412e;
}
.card .tags .tag:active {
  background: #2c2c1f;
  color: #8a8a8a;
}
.card .start-edit-card {
  background: #333;
  border: none;
  color: #aaa;
}
.card .start-edit-card:hover {
  background: #3f3f3f;
}
.card .start-edit-card:active {
  background: #2d2d2d;
  color: #6d6d6d;
}
.card .start-edit-card img {
  max-width: 17px;
  min-width: 17px;
  max-height: 17px;
  min-height: 17px;
  vertical-align: middle;
}
.card .comment {
  font-size: 85%;
}
a {
  text-decoration: none;
  color: #00bd7e;
  transition: 0.2s ease-in;
}
@media (hover: hover) {
  a:hover {
    background-color: rgba(0,189,126,0.2);
  }
}
@media (min-width: 1024px) {
  #app {
    max-width: 960px;
    padding: 0 2rem;
  }
  .line {
    width: 440px;
  }
  label {
    margin: 0 10px;
    width: 75px;
    display: inline-block;
    text-align: end;
  }
  label::after {
    content: ':';
  }
  input {
    width: 300px;
  }
  input.add-tag {
    width: 240px;
    margin-left: 95px;
  }
}
@media (min-width: 1700px) {
  #app {
    max-width: 1680px;
  }
  .line {
    width: 780px;
    margin: 2px;
  }
  input {
    width: 500px;
  }
  .search {
    width: 500px;
  }
}
