<script setup>
  import Tag from './Tag.vue'
</script>

<script>
export default{
  props: {
    mode: {
      type: String,
      default: "New"
    },
    knownTags: {
      type: Array,
      default: [],
    },
    pIx: String,
    pName: String,
    pTags: Array,
    pURI: String,
    pComment: String,
  },
  data() {
    if (this.mode == "New") {
      return {
        name: '',
        tags: [],
        uri: '',
        comment: '',
        tag: '',
        }
    } else {
      return {
        ix: this.pIx,
        name: this.pName,
        tags: this.pTags,
        uri: this.pURI,
        comment: this.pComment,
        tag: '',
      }
    }
  },
  methods: {
    reset() {
      this.name = ""
      this.tags = []
      this.uri = ""
      this.comment = ""
    },
    removeTag(t) {
      this.tags = this.tags.filter(function(x){return x != t})
    },
    addTag() {
      this.tags.push(this.tag)
      this.tag = ""
    },
    create() {
      const card = {
        name: this.name,
        tags: this.tags,
        uri: this.uri,
        comment: this.comment,
      }
      this.$emit('add-new-card', card)
    },
    applyEdit() {
      const card = {
        ix: this.ix,
        name: this.name,
        tags: this.tags,
        uri: this.uri,
        comment: this.comment,
      }
      this.$emit('apply-edit-card', card)
    }
  },
  emits: ['add-new-card', 'apply-edit-card']
}
</script>

<template>
<div class="line">
  <label>Name</label>
  <input :value="name" @input="e => name = e.target.value" type="text" />
</div>
<div class="line">
  <label>URI</label>
  <input :value="uri" @input="e => uri = e.target.value" type="text" />
</div>
<div class="line">
  <label>Tags</label>
  <div v-if="tags.length == 0" class="empty-tags">no tags</div>
  <Tag v-for="t in tags"
       :name="t"
       @tag-clicked="removeTag"
       />
</div>
<div class="line">
  <input type="text" class="add-tag" list="tag-list" :value="tag" @input="e => tag = e.target.value" />
  <datalist id="tag-list">
    <option
      v-for="t in knownTags"
      :value="t.name"
      />
  </datalist>
  <button @click="addTag" class="add-tag">Add Tag</button>
</div>
<div class="line">
  <label>Comment</label>
  <input :value="comment" @input="e => comment = e.target.value" type="text" />
</div>
<div class="line">
  <button v-if="mode=='New'" @click="create" class="create">Create</button>
  <button v-else @click="applyEdit" class="apply">Apply</button>
</div>
</template>

<style lang="stylus" scoped>
</style>
