<script setup>
  import Card from './Card.vue'
  import AddNewCard from './AddNewCard.vue'
</script>

<script>
function toAPIAddr(entrypoint) {
  var host = import.meta.env.VITE_API_SERVER_HOST
  switch (host) {
  case undefined:
  case "":
    host = "localhost"
    break;
  }
  var port = import.meta.env.VITE_API_SERVER_PORT
  switch (port) {
  case undefined:
  case "":
    port = "8898"
    break;
  }
  const addr = [ "http://",
                 host,
                 ":",
                 port,
                 "/",
                 entrypoint ].join('')
  return addr
}
function parseSearchString(str) {
  return str.split(' ').filter(function(s){return s != ''})
}
function searchQueryToString(query) {
  return query.join(' ')
}
export default {
  data() {
    return {
      deck: [],
      knownTags: [],
      searchLine: '',
      searchQuery: [],
      mode: 'Normal',
      modeNewCard: false,
      editTarget: null,
      imageBGWhite: false,
    }
  },
  methods: {
    tagClicked(tag) {
      this.searchQuery = parseSearchString(this.searchLine)
      const n = this.searchQuery.length
      var hasTag = false
      for (let i = 0; !hasTag && i < n; i++) {
        if (this.searchQuery[i] == tag) {
          hasTag = true
        }
      }
      if (! hasTag) {
        this.searchQuery.unshift(tag)
        this.searchLine = searchQueryToString(this.searchQuery)
      }
    },
    isModeNormal() {
      return this.mode == "Normal"
    },
    isModeNew() {
      return this.mode == "New"
    },
    isModeEdit() {
      return this.mode == "Edit"
    },
    toggleImageBGWhite() {
      this.imageBGWhite = ! this.imageBGWhite
    },
    async searchUpdate(e) {
      this.searchLine = e.target.value
      if (this.knownTags.length == 0) {
        await this.updateKnownTags()
      }
    },
    async updateKnownTags() {
      const resp = await fetch(
        toAPIAddr("taglist"),
        {method: "GET"}
      )
      this.knownTags = await resp.json()
    },
    async turnOnNewCard() {
      await this.updateKnownTags()
      this.mode = "New"
    },
    turnOffNewCard() {
      this.mode = "Normal"
    },
    async turnOnEditCard(card) {
      await this.updateKnownTags()
      this.editTarget = card
      this.mode = "Edit"
    },
    async searchByTags() {
      this.searchQuery = parseSearchString(this.searchLine)
      const b = JSON.stringify({ tags: this.searchQuery })
      const resp = await fetch(
        toAPIAddr("searchbytags"),
        { method: "POST",
          body: b,
        })
      this.deck = await resp.json()
    },
    async addNewCard(card) {
      const body = JSON.stringify(card)
      const resp = await fetch(
        toAPIAddr("addnewcard"),
        { method: "POST",
          body: body,
        })
      this.deck = this.deck.concat( await resp.json() )
      this.turnOffNewCard()
    },
    async applyEditCard(card) {
      const body = JSON.stringify(card)
      const resp = await fetch(
        toAPIAddr("editcard"),
        { method: "POST",
          body: body,
        })
      this.addRenewalCards( await resp.json() )
      this.editTarget = null
      this.turnOffNewCard()
    },
    addRenewalCards(cards) {
      var unused = []
      const m = cards.length
      for (let j = 0; j < m; j++) {
        var overwriten = false
        const n = this.deck.length
        for (let i = 0; i < n; i++) {
          if (this.deck[i].ix == cards[j].ix) {
            overwriten = true
            this.deck[i] = cards[j]
          }
        }
        if (! overwriten) {
          unused.push(cards[j])
        }
      }
      this.deck = this.deck.concat( unused )
    }
  }
}
</script>

<template>
<div class="header">
  <input :value="searchLine" class="search" list="tag-list" @input="searchUpdate" placeholder="Search..." />
  <datalist id="tag-list">
    <option
      v-for="t in knownTags"
      :value="t.name"
      />
  </datalist>
  <button @click="searchByTags">Search</button>
  <hr/>
  <div v-if="isModeNew()" class="tool-new-card">
    <div class="line">
      <button @click="turnOffNewCard" class="cancel">Cancel</button>
    </div>
    <AddNewCard mode="New" :knownTags="knownTags" @add-new-card="addNewCard" />
  </div>
  <div v-if="isModeEdit()" class="tool-edit-card">
    <div class="line">
      <button @click="turnOffNewCard" class="cancel">Cancel</button>
    </div>
    <AddNewCard
      mode="Edit"
      :knownTags="knownTags"
      :pIx="editTarget.ix"
      :pName="editTarget.name"
      :pTags="editTarget.tags"
      :pURI="editTarget.uri"
      :pComment="editTarget.comment"
      @apply-edit-card="applyEditCard" />
  </div>
  <div v-if="isModeNormal()">
    <button @click="turnOnNewCard">New</button>
    <button @click="toggleImageBGWhite"
            title="Toggle thumbnail BG color.">{{ imageBGWhite ? '■' : '□' }}</button>
  </div>
</div>
<div class="header-dummy"></div>
<div class="deck">
  <Card
    v-for="c in deck"
    :ix="c.ix"
    :name="c.name"
    :tags="c.tags"
    :comment="c.comment"
    :uri="c.uri"
    :thumbnail="c.thumbnail"
    :imageBGWhite="imageBGWhite"
    @tag-clicken="tagClicked"
    @start-edit-card="turnOnEditCard"
    />
</div>
</template>

<style lang="stylus" scoped>
.deck
  max-width: 1680px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  .card
    margin: 2px
</style>
