<script setup>
  import Tag from './Tag.vue'
</script>

<script>
export default {
  props: {
    ix: {
      type: String,
      default: ""
    },
    name: {
      type: String,
      default: ""
    },
    thumbnail: {
      type: String,
      default: ""
    },
    uri : {
      type: String,
      default: ""
    },
    tags: {
      type: Array,
      default: []
    },
    comment: {
      type: String,
      default: ""
    },
    imageBGWhite : {
      type: Boolean,
      default: false
    }
  },
  methods: {
    hasValidURI() {
      return this.uri != ''
    },
    startEditCard() {
      const card = {
        ix: this.ix,
        name: this.name,
        tags: this.tags,
        uri: this.uri,
        comment: this.comment,
      }
      this.$emit('start-edit-card', card)
    }
  },
  emits: ['start-edit-card']
}
</script>

<template>
<div class="card">
  <div class="image-container">
    <a v-if="hasValidURI()" :href="uri" class="thumbnail" target="_blank"><img :src="thumbnail" :class="{ light: imageBGWhite }"/></a>
    <img v-else :src="thumbnail" :class="{ light: imageBGWhite }"/>
  </div>
  <a v-if="hasValidURI()" :href="uri"><span class="card-name" target="_blank">{{ name }}</span></a>
  <span v-else class="card-name">{{ name }}</span>
  <div class="tags">
    <Tag
      v-for="t in tags"
      :name="t"
      @tag-clicked="(x) => $emit('tag-clicken', x)"
      />
  </div>
  <p class="comment">{{ comment }}</p>
  <button class="start-edit-card" @click="startEditCard"><img src="@/assets/edit_17x15.png"/>Edit</button>
</div>
</template>

<style lang="stylus" scoped>
</style>
